.tooltip .tooltip-inner {
    border-radius: 0;
}

html { width: 100%; height: 100%; }
body {
    height: 100%;
    overflow: hidden;
    font-family: $font-base;
    // background-color: $color;
    color: $color-inverse;

    & > footer {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;

        .breadcrumb {
            background-color: transparent;

            .breadcrumb-item {
                color: $color-inverse;
                transition: all 140ms ease-in-out;

                &:hover,
                &:focus {
                    color: lighten($color-lightest, 20%);
                }

                &:active {
                    color: lighten($color-lightest, 10%);
                }
            }
        }
    }
}



hr {
    border-color: $color-inverse;
}

.breadcrumb-item {
    & + &::before {
        color: $color-inverse;
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .r0 { fill: darken($color, 1.5%); }
    .r1 { fill: darken($color, 3%); }
    .r2 { fill: darken($color, 4.5%); }
    .r3 { fill: darken($color, 6%); }
}

#logo {
    width: 32rem;
    height: 99%;
    min-width: 32rem;
    min-height: 24rem;

    #icon-logo {
        stroke: $color-inverse;
    }
}

.toggler {
    &, .icon {
        display: block;
    }

    &:hover {
        background-color: rgba(0,0,0,0.075);
    }
}

#sidebar-toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    &,
    .nav-link {
        padding: 0;
    }
}

#sidebar-menu {
    $menu-width: 16rem;

    position: absolute;
    top: 0;
    left: (-$menu-width);
    bottom: 0;
    width: $menu-width;
    margin: 0;
    padding-top: 5rem;

    z-index: 90;
    //background-color: $color-dark;
    background-color: rgba($color-darker, .8);
    border-right: 1px solid $color-darkest;
    box-shadow: 1px 0 4px rgba(0,0,0,.15);

    transition: left 140ms ease-in-out;
    font-family: $font-base-semi;

    &.show {
        left: 0;
    }

    .avatar {
        width: 5rem;
        height: 5rem;
        border: 2px solid white;
        box-shadow: 0 3px 5px rgba(0,0,0,.5);
    }

    .text-muted {
        color: rgba(#ccc, .8) !important;
    }

    .my-collections {
        overflow-y: auto;

        ul {
            &:empty::after {
                content: "nothing's here yet...";
                font-style: italic;
                color:rgba(#ccc, .8);
            }
        }
    }

    a {
        $link-color: #0275d8;

        color: lighten($link-color, 20%);
        transition: all 140ms ease-in-out;

        &:hover,
        &:focus {
            color: lighten($link-color, 5%);
        }

        &:active {
            color: darken($link-color, 5%);
        }
    }

    footer {
        $footer-bg: #181818;
        $footer-color: #0e0e0e;

        border-top: solid 1px darken($footer-bg, 2%);
        background-color: $footer-bg;
        transition: color 140ms ease-in-out;

        .nav-link {
            display: inline-block;
            padding: .1em .5em;
            color: #fff;

            &:hover,
            &:focus {
                color: #888;
            }

            &:active {
                color: #555;
            }
        }
    }
}

.app-window {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    border: 1px solid $color-darker;
    box-shadow: 0 2px 8px darken($color-darkest, 5%);
    color: $body-color;
    background-color: #fff;
    transition: 140ms ease-in-out;
    transition-property: opacity;

    &.init {
        &.transition-active {
            transition: 660ms ease;
            transition-property: transform, opacity;
            transform-origin: center bottom;
            transform-style: preserve-3d;
        }

        &.transition-from {
            opacity: 0;
            transform: perspective(32rem) translate3d(0, .1rem, -.5rem) rotateX(3deg);
        }
    }

    &.destroy {
        &.transition-active {
            transition: all 200ms ease-in-out;
            transform-origin: center center;
            transform-style: preserve-3d;
        }

        &.transition-to {
            transform: perspective(32rem) translateZ(-2rem);
            opacity: 0;
        }
    }

    & > .window-resizers {
        $resizer-size: 5px;
        $resizer-offset: ($resizer-size - 1) / 2;

        & > * {
            position: absolute;
        }

        .resizer-nw,
        .resizer-n,
        .resizer-ne,
        .resizer-sw,
        .resizer-s,
        .resizer-se {
            height: $resizer-size;
        }

        .resizer-nw,
        .resizer-w,
        .resizer-sw,
        .resizer-ne,
        .resizer-e,
        .resizer-se {
            width: $resizer-size;
        }

        .resizer-n,
        .resizer-s {
            left: $resizer-offset;
            right: $resizer-offset;
        }

        .resizer-w,
        .resizer-e {
            top: $resizer-offset;
            bottom: $resizer-offset;
        }

        .resizer-n {
            top: $resizer-offset - $resizer-size;
        }

        .resizer-s {
            bottom: $resizer-offset - $resizer-size;
        }

        .resizer-w {
            left: $resizer-offset - $resizer-size;
        }

        .resizer-e {
            right: $resizer-offset - $resizer-size;
        }

        .resizer-nw,
        .resizer-ne {
            top: $resizer-offset - $resizer-size;
        }

        .resizer-sw,
        .resizer-se {
            bottom: $resizer-offset - $resizer-size;
        }

        .resizer-nw,
        .resizer-sw {
            left: $resizer-offset - $resizer-size;
        }

        .resizer-ne,
        .resizer-se {
            right: $resizer-offset - $resizer-size;
        }
    }

    &[resize="horizontal"] {
        & > .window-resizers {
            .resizer-w { cursor: w-resize; }
            .resizer-e { cursor: e-resize; }
        }
    }

    &[resize="vertical"] {
        & > .window-resizers {
            .resizer-n { cursor: n-resize; }
            .resizer-s { cursor: s-resize; }
        }
    }

    &[resize="both"] {
        & > .window-resizers {
            .resizer-n { cursor: n-resize; }
            .resizer-s { cursor: s-resize; }
            .resizer-w { cursor: w-resize; }
            .resizer-e { cursor: e-resize; }
            .resizer-nw { cursor: nw-resize; }
            .resizer-ne { cursor: ne-resize; }
            .resizer-sw { cursor: sw-resize; }
            .resizer-se { cursor: se-resize; }
        }
    }

    & > .window-titlebar {
        display: flex;
        align-items: center;

        flex: 0 0 auto;
        padding: 0;
        padding-left: 0.5rem;
        height: 2rem;
        font-size: 1rem;

        color: #fff;
        background-color: $color-lightest;
        user-select: none;
        cursor: default;

        transition: background-color 140ms ease-in-out;

        .window-title {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: 1;
        }

        .window-command-button-group {
            margin-left: auto;

            .window-command-button {
                border: 0;
                background: none;
                color: #fff;
                outline: 0;
                transition: color 140ms ease-in-out;

                &:hover,
                &:focus {
                    color: #888;
                }

                &.command-close {
                    &:hover,
                    &:focus {
                        color: #e24857;
                    }
                }
            }
        }
    }

    & > .window-client {
        height: 0;
        flex: 1 1 auto;
        overflow: auto;
    }

    &.is-resizing,
    &.is-moving {
        opacity: 0.88;
    }

    &.is-focused {
        & > .window-titlebar {
            background-color: #1b1b1b;
        }
    }
}
