.tooltip .tooltip-inner {
    border-radius: 0;
}

html { width: 100%; height: 100%; }
body {
    height: 100%;
    overflow: hidden;
    font-family: $font-base;
    background-color: $color;
    color: $color-inverse;

    & > footer {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;

        .breadcrumb {
            background-color: transparent;
        }
    }
}

a {
    color: $color-inverse;
    transition: all 140ms ease-in-out;

    &:hover,
    &:focus {
        color: lighten($color-lightest, 20%);
    }

    &:active {
        color: lighten($color-lightest, 10%);
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .r0 { fill: darken($color, 2%); }
    .r1 { fill: darken($color, 4%); }
    .r2 { fill: darken($color, 6%); }
    .r3 { fill: darken($color, 8%); }
}

#logo {
    width: 32rem;
    height: 99%;
    min-width: 32rem;
    min-height: 24rem;

    #icon-logo {
        stroke: $color-inverse;
    }
}

.toggler {
    &, .icon {
        display: block;
    }

    &:hover {
        background-color: rgba(0,0,0,0.075);
    }
}

#sidebar-toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    &,
    .nav-link {
        padding: 0;
    }
}

#sidebar-menu {
    $menu-width: 16rem;

    position: absolute;
    top: 0;
    left: (-$menu-width);
    bottom: 0;
    width: $menu-width;
    margin: 0;
    padding-top: 5rem;

    z-index: 90;
    background-color: $color-dark;
    border-right: 1px solid $color-darkest;
    box-shadow: 1px 0 4px rgba(0,0,0,.075);

    transition: left 140ms ease-in-out;
    font-family: $font-base-semi;

    &.show {
        left: 0;
    }

    .avatar {
        width: 5rem;
        height: 5rem;
        border: 2px solid white;
        box-shadow: 0 3px 5px rgba(0,0,0,.5);
    }

    .text-muted {
        color: darken($color-inverse,25%) !important;
    }

    footer {
        $footer-bg: #181818;
        $footer-color: #0e0e0e;
        background-color: $footer-bg;

        .nav-link {
            display: inline-block;
            padding: .1em .5em;
            color: $footer-bg;
            text-shadow: -1px -1px 0 darken($footer-bg, 20%), 1px 1px 0 lighten($footer-bg, 20%);

            &:hover,
            &:focus {
                color: lighten($footer-color, 10%);
            }

            &:active {
                color: $footer-color;
            }
        }
    }
}
