#musicbox {
    $musicbox-height: 4rem;
    $musicbox-width: 22rem;
    $musicbox-bg: #1f1f1f;
    $musicbox-border: #444;

    position: absolute;
    height: $musicbox-height;
    bottom: 1px;
    left: 1px;
    z-index: 10;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    * {
        cursor: default;
    }

    .toggler {
        position: relative;
        z-index: 1;

        .icon {
            opacity: 0.2;
            position: relative;
            z-index: 1;
            background-color: rgba(255,255,255,.6);
        }

        &:hover .icon {
            opacity: 1;
        }
    }

    &.show .toggler .icon {
        opacity: 1;
    }

    .music-album-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: $musicbox-height;
        background-color: $musicbox-bg;
    }

    .music-player {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        height: calc(100% + 2px);
        padding-left: $musicbox-height;
        min-width: 0;
        margin-left: -1px;
        margin-top: -1px;
        border: 1px solid #888;
        transition: all 140ms ease-in-out;
        font-family: $font-base-light;

        color: black;
        width: 0;
        opacity: 0;
        background-color: white;

        & > div {
            position: relative;
            height: 100%;
        }

        .music-artist-and-title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .music-progress {
            height: 3px;

            .music-progress-bar {
                transition: width 140ms ease-in-out;
            }
        }

        .music-time-info {
            font-size: .8em;
            text-align: right;
        }

        .music-controls {
            position: absolute;
            bottom: -6px;

            .music-control {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2em;
                border-radius: 50%;
                transition: background-color 140ms ease-in-out;
                margin-right: -3px;
            }

            .music-control-playpause {
                width: 2.2rem;
                height: 2.2rem;
                padding: 1rem;
                background-color: lighten($musicbox-bg, 16%);
                z-index: 1;
                color: white;

                i.fa-play {
                    position: relative;
                    left: .1em;
                }

                i.fa-pause {
                    position: relative;
                    display: none;
                }

                @at-root .audio-playback {
                    i.fa-play  { display: none; }
                    i.fa-pause { display: inline-block !important; }
                }

                &:hover {
                    background-color: lighten($musicbox-bg, 20%);
                }
            }

            .music-control-prev,
            .music-control-next {
                width: 1.8rem;
                height: 1.8rem;
                padding: .8rem;
                font-size: 0.9em;
                color: #ddd;
                background-color: lighten($musicbox-bg, 5%);

                &:hover {
                    background-color: lighten($musicbox-bg, 10%);
                }
            }
        }


        .musicbox-name {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: .6rem;
            line-height: 1;
            padding-right: .25rem;
            color: lighten($musicbox-bg, 40%);
        }
    }

    &.show {
        .music-player {
            color: white;
            opacity: 1;
            min-width: $musicbox-width;
            background-color: $musicbox-bg;
            border-color: $musicbox-border;
            box-shadow: 0 2px 8px rgba(0,0,0,.45);
        }

        .toggler:hover {
            background-color: transparent;
        }
    }
}
