$font-base:                 "New Cicle Gordita", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-base-semi:            "New Cicle Semi", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-base-light:           "New Cicle Fina", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$color:                     #cb3340;

$color-light:               lighten($color, 5%);
$color-lighter:             lighten($color, 10%);
$color-lightest:            lighten($color, 15%);

$color-dark:                darken($color, 5%);
$color-darker:              darken($color, 10%);
$color-darkest:             darken($color, 15%);

$color-inverse: white;

@import "common";
@import "animation";
@import "icon";
@import "musicbox";

@import "misc/_suzhi-calculator";
