.tooltip .tooltip-inner {
  border-radius: 0;
}

html, body {
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  padding: .5em;
}

.icon-2x {
  font-size: 2em;
}

#logo {
  width: 32rem;
  height: 99%;
}

#sidebar-toggler {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 100;
  transition: background-color 140ms ease-in-out;
}

#sidebar-toggler > .icon {
  display: block;
}

#sidebar-toggler:hover {
  background-color: #f4f4f4;
}

.not-ie #sidebar-toggler * {
  transition: all 140ms ease-in-out;
  transform-origin: center center;
}

.not-ie #sidebar-toggler.active .line1 {
  transform: translateY(4px) rotate(45deg);
}

.not-ie #sidebar-toggler.active .line2 {
  opacity: 0;
}

.not-ie #sidebar-toggler.active .line3 {
  transform: translateY(-4px) rotate(-45deg);
}

#main-nav {
  width: 16rem;
  top: 0;
  left: -16rem;
  bottom: 0;
  position: absolute;
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 1rem;

  z-index: 90;
  background-color: white;
  transition: left 140ms ease-in-out;
  border-right: 1px solid #ccc;
  background-color: #fafafa;
  box-shadow: 1px 0 4px rgba(0, 0, 0, .075);
  text-align: center;

  font-family: 'new_ciclefina', sans-serif;
}

#main-nav.show {
  left: 0;
}

#main-nav .nav-link {
  display: inline-block;
  padding: .1em .5em;
}

.avatar {
  width: 5rem;
  height: 5rem;
  border: 2px solid white;
  box-shadow: 0 3px 5px rgba(0,0,0,.5);
}
