.clock {
  display: flex;
  flex-direction: row-reverse;
}

.char {
  position: relative;
  white-space: pre;
  display: inline-block;

  .leaving {
    display: none;
    position: absolute;
    display: inline-block;

    ~ .leaving {
      display: none !important;
    }
  }

  .leaving + *,
  .entering {
    display: inline-block;
    left: 0;
  }

  &.char-colon {
    animation: blink 0.5s infinite alternate-reverse
      cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
