#root-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column;
}

#header,
#main,
#footer {
  width: 100%;
}

#main {
  padding: 3rem;
  min-width: 1000px;
  min-height: 600px;
  flex: 1 1 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-items: flex-start;
  align-items: stretch;
}

.section {
  & &-header {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &:not(:last-child) {
    margin-right: 6rem;
  }
}
